*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16pt;
    min-height: 100vh;
    /*Layout formatação*/
    display: grid;
    grid-template-rows: 1fr 1fr  5vh;
    grid-template-columns: .04fr 1fr;
    grid-template-areas: "menu conteudo"
                         "menu conteudo"
                         "rodape rodape";    
}
.flex-centralizador{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    z-index: 1;
    grid-area: menu;
    background-color: #052e56;
}
.cabecalho img{
    width: 40px;
}
.cabecalho ul{
    height: 100%;
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.cabecalho ul li{
    cursor: pointer;
    position: relative;
}
.cabecalho ul li ol{
    top: 10%;
    left: 160%;
    list-style: none;
    position: absolute;
}
.cabecalho ul li ol li{
    width: 15em;
    padding: 10px;
    color: #f1f1f1;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: .3em;
    background-color: #052e56;
}
.cabecalho ul li ol li:hover,.cabecalho ul li a img:hover,.cabecalho ul li div img:hover{
    transform: scale(1.06);
}
.submenu-oculto{
    display: none;
}
.conteudo-principal{
    grid-area: conteudo;
    background-color: #FFFFFF;
}

.rodape{
    z-index: 2;
    grid-area: rodape;
    background-color: #052e56;
}
.rodape p{
    color: #f1f1f1;
}