main{
    flex-wrap: wrap;
}
#calendario, #eventos-por-dia{
    height: 80%;
}
#calendario{
    min-width: 50%;
}
#calendario tbody, #calendario thead{
    display: table;
}
#calendario tbody{
    height: 80%;
    background-color: #0e569d;
    box-shadow: 1px 1px 10px #0e569d;
}
#calendario table{
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    border-radius: .2em;
    border-spacing: 10px;
    flex-direction: column;
    background-color: #d8d8e0;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #0e569d9e;
}
#calendario select{
    width: 42%;
    border: none;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #f1f1f1;
}
#filtro-calendario{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#calendario caption{
    margin: 10px;
}
#calendario caption h1, #calendario table th, #calendario table select{
    color:#0505058b;
}
#calendario caption h1{
    font-size: 25pt;
    margin-bottom: 20px;
}
#calendario table select{
    font-size: 16pt;
    border-radius: .2em;
}
#calendario table th{
    font-size: 20pt;
}
#calendario table td{
    cursor: pointer;
    font-size: 18pt;
    color: #f1f1f1;
}
#calendario table td:hover{
    transform: scale(2);
}
#calendario .dia-fora-mes{
    color: #f1f1f17a;
}
#calendario .dia-do-mes{
    color: #000;
    border-radius: .1em;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 0px  2px #f1f1f1;
}

#calendario .dia-com-evento{
    color: #ffffff;
    border-radius: .1em;
    background-color: #f73737;
    box-shadow: 0px 0px 0px  2px #f1f1f1;
}

#calendario .dia-do-mes:hover,#calendario .dia-com-evento:hover{
    transform: scale(1.1);
}
#calendario table td{
    padding: 10px;
}
#calendario table td, #calendario table th{
    text-align: center;
}
#eventos-por-dia{
    width: 40%;
}
#eventos-por-dia caption{
    padding: 5px;
    color: #f1f1f1;
    font-weight: 600;
    margin-bottom: 3vh;
    background-color: #0e569d;
    box-shadow: 0px 2px 5px #000;
}
#eventos-por-dia button{
    border: none;
    cursor: pointer;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: .3em;
    box-shadow: 0px 1px 3px #000;
}
#eventos-por-dia table{
    width: 90%;
    text-align: center;
    border-spacing: 0 20px;
}
#eventos-por-dia table thead th{
    padding: 10px;
}
#eventos-por-dia table thead tr:nth-child(1){
    color: #f1f1f1;
    border-bottom: 5px solid;
    background-color: #0e569d;
}
#eventos-por-dia table tbody tr{
    text-align: center;
    box-shadow: 0px 2px 2px #00000052;
}
#eventos-por-dia td,#evento-por-dia th,#eventos-por-dia caption{
    padding: 10px;
}
