#formulario{
    width: 40%;
    height: 80%;
    border: 1px solid;

    display: flex;
    border-radius: .2em;
    align-items: center;
    flex-direction: column;
    background-color: #0e569d;
    justify-content: space-evenly;
}
#formulario table{
    width: 95%;
    color: #f1f1f1;
    border-spacing: 10px 30px;  
}
#formulario table input, #formulario table textarea{
    padding: 5px;
    font-size: 16pt;
    border-radius: .2em;
}
#formulario table textarea{
    height: 150px;
}
.formatacao-inputs-padrao{
    width: 80%;
}
.td-label{
    width: 20%;
    text-align: right;
}
.status ,.descricao{
    vertical-align: text-top;
}
.botoes{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.botoes button , .campo-resultado button{
    border: none;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: .3em;
    box-shadow: 0px 1px 3px #000;
}
.botoes button:hover{
    transform: scale(1.1);
}

.fundo-resultado, .campo-resultado div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fundo-resultado{
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #0000007f;
}
.campo-resultado{
    width: 400px;
    height: 150px;
    color: #f1f1f1;
    border-radius: .2em;
    background-color: #0e569df4;
    box-shadow: 0px 0px 2px #2577c8;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.campo-resultado div{
    width: 100%;
    height: 70%;
    padding: 10px;
}
.campo-resultado button{
    margin-right: 20px;
    margin-bottom: 15px;
}
.ocultar-campo-resultado{
    display: none;
}